# androidvncserver service

type vnc, domain;
type vnc_exec, exec_type, file_type;

init_daemon_domain(vnc)

#============= servicemanager ==============
allow servicemanager vnc:dir search;
allow servicemanager vnc:file { open read };
allow servicemanager vnc:process getattr;

#============= surfaceflinger ==============
allow surfaceflinger vnc:binder { call transfer };

#============= netd ==============
allow netd vnc:fd use;
allow netd vnc:tcp_socket { getopt read setopt write };

#============= vnc ==============
allow vnc ion_device:chr_file { ioctl open read };
allow vnc node:tcp_socket node_bind;
allow vnc node:udp_socket node_bind;
allow vnc port:tcp_socket name_bind;
allow vnc port:udp_socket name_bind;
allow vnc self:capability { dac_override net_raw };
allow vnc self:tcp_socket { bind create listen setopt };
allow vnc self:udp_socket { bind create read write };
allow vnc servicemanager:binder call;
allow vnc shell_data_file:file { execute getattr open read };
allow vnc surfaceflinger:binder { call transfer };
allow vnc surfaceflinger:fd use;
allow vnc surfaceflinger_service:service_manager find;
allow vnc uhid_device:chr_file { ioctl open write };

allow vnc fwmarkd_socket:sock_file write;
allow vnc netd:unix_stream_socket connectto;
allow vnc self:tcp_socket { accept getattr getopt read shutdown write };
allow vnc shell_data_file:dir search;
